{% if entities is defined and entities|count > 0 %}

{% if needs_paging is defined and needs_paging %}

{% endif %}

<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>Id</th>
            <th>Quantity</th>
            <th>Type</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('StriideInventoryBundle_admin_item_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.quantity }}</td>
            <td>{{ entity.type }}</td>
            <td>
              <h4>{{ entity.name }}</h4>
              <p>
              {{ entity.description }}
              </p>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>There are no items.</p>
{% endif %}
