{% extends "StriideInventoryBundle::layout.html.twig" %}

{% block striide_inventory_content %}

{{ render(controller('StriideTwitterbootstrapBundle:Navigation:breadcrumb',{'crumbs': crumbs} )) }}

{% form_theme edit_form edit_form_theme %}

<div class="row">
  <div class="span2">

          <ul class="nav nav-tabs nav-stacked">
        <li>
            <a href="{{ path('StriideInventoryBundle_homepage') }}"><i class="icon-list-alt"></i> Back to list</a>
        </li>

{% if is_granted('ROLE_ADMIN') %}
    <li>
      <a  href="{{ path('StriideInventoryBundle_admin_item_new') }}"><i class="icon-plus-sign"></i> Create New Item</a>
    </li>
{% endif %}
    </ul>
      
{{ render(controller('StriideInventoryBundle:Item:types' )) }}
      
  </div>

  <div class="span8">

    <h3>Edit Item</h3>
    <form action="{{ path('StriideInventoryBundle_admin_item_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
      {{ form_widget(edit_form) }}

      {{ render(controller('StriideInventoryBundle:Media:show', {'id': entity.photo })) }}

      <div class="form-actions">
        <button class="btn btn-primary btn-large" type="submit">Save</button>
      </div>
    </form>

  </div>
</div>

<script>
  $(function(){
    var availableTypes = {{ json_types|raw }};
    $('form input.type').typeahead({source: availableTypes });
  });
</script>

{% endblock striide_inventory_content %}
